<footer class="footer blue">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-2 mt-3 mb-3 ml-3">
                <img class="footer-img" src="assets/images/footer/30777 DEV Color.png" alt="CMMI Level 3">
            </div>
            <div class="col-md-2 mt-3 mb-3 ml-3">
                <img class="footer-img" src="assets/images/footer/30777 SVC Color.png" alt="CMMI Level 3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mx-auto mt-3 mb-4">
                <img class="mb-3" src="assets/images/logo.png" alt="Cloud Nine Technologies Inc." width="100rem">
            </div>

            <div class="col-md-4 mx-auto">
                <h5 class="mt-3 mb-4">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-justify">
                            <a class="blue" href="mailto: contact@cloudninetech.com">
                                <i class="fas fa-envelope"></i>
                                {{ site.email }}
                            </a>
                        </p> 
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone"></i>
                            {{ site.phone }}
                        </p>
                    </li>
                    <li>
                        <div class="text-left">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>
                                {{ site.phy-address }}
                            </span>
                        </div> 
                    </li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto">
                <h5 class="mt-3 mb-4">Helpful Links</h5>
                <ul class="list-unstyled">
                    {% for item in site.data.navigation %}
                    <li>
                        <a class="blue medium" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4 mx-auto">
                <h5 class="mt-3 mb-4">Contract Vehicles</h5>
                <ul class="list-unstyled">
                    {% for vehicle in site.data.contract-vehicles %}
                    <li>
                        <a class="blue" href="{{ vehicle.link }}">
                            {{ vehicle.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container clearfix text-center">
        <a class="social-share-icon" href="{{ site.linkedin_url }}" title="Follow Us on LinkedIn">
            <i class="fab fa-linkedin blue"></i>
        </a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      &copy; {{ site.title }}
    </div>
    <!-- Copyright -->
</footer>