<footer class="footer">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-2 mx-auto mt-3 mb-4">
                <img class="mb-3" src="assets/images/logo.png" alt="Cloud Nine Technologies Inc." width="100rem">
                <p class="text-left">
                    SBA Certified 8(a)<br>
                    SDB CMMI Level 3<br>
                    VA MBE
                </p>
            </div>

            <div class="col-md-4 mx-auto">
                <h5 class="mt-3 mb-4">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-justify">
                            <a href="mailto: contact@cloudninetech.com">
                                <i class="fas fa-envelope"></i>
                                {{ site.email }}
                            </a>
                        </p> 
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone"></i>
                            {{ site.phone }}
                        </p>
                    </li>
                    <li>
                        <div class="text-left">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>
                                {{ site.phy-address }}
                            </span>
                        </div> 
                    </li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto">
                <h5 class="mt-3 mb-4">Helpful Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/clients">Clients</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 mx-auto">
                <h5 class="mt-3 mb-4">Contract Vehicles</h5>
                <ul class="list-unstyled">
                    {% for vehicle in site.data.contract-vehicles %}
                    <li>
                        <a href="{{ vehicle.link }}">
                            {{ vehicle.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container clearfix text-center">
        <a class="social-share-icon" href="{{ site.linkedin_url }}" title="Follow Us on LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      &copy; {{ site.title }}
    </div>
    <!-- Copyright -->
</footer>