<footer class="footer blue">
    <div id="footer-content" class="container text-center text-md-left">
        <div class="row text-center">
            <div class="col-md-6 mt-3 mb-3">
                <img class="footer-img" src="assets/images/footer/30777 DEV Color.png" alt="CMMI Level 3">
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <img class="footer-img" src="assets/images/footer/30777 SVC Color.png" alt="CMMI Level 3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-3 mb-3">
                <a href="/">
                    <img class="footer-logo" src="assets/images/branding/CLOUD_9.jpg" alt="Cloud Nine Technologies Inc.">
                </a>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="mt-3 mb-4 dark-gray">Contact Us</h5>
                <a class="contact-link" href="mailto:{{ site.email }}">
                    <div class="row">
                        <div class="col-lg-auto">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="col-lg-auto">
                            
                                {{ site.email }}
                            
                        </div>
                    </div>
                </a>
                <a class="contact-link" href="tel:{{ site.tel-1 }}">
                    <div class="row">
                        <div class="col-lg-auto">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="col-lg-auto">
                            {{ site.phone-1}}
                        </div>
                    </div>
                </a>
                <a class="contact-link" href="tel:{{ site.tel-2 }}">
                    <div class="row">
                        <div class="col-lg-auto">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="col-lg-auto">
                            {{ site.phone-2}}
                        </div>
                    </div>
                </a>
                <a class="contact-link" href="{{ site.phy-address-link }}" target="_new">
                    <div class="row">
                        <div class="col-lg-auto">
                            <i class="fas fa-map-marker"></i>
                        </div>
                        <div class="col-lg-auto">
                                {{ site.phy-address }}
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-2 mx-auto">
                <h5 class="mt-3 mb-4 dark-gray">Helpful Links</h5>
                <ul class="list-unstyled">
                    {% for item in site.data.navigation %}
                    <li>
                        <a class="footer-link dark-gray" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4 mx-auto">
                <h5 class="mt-3 mb-4 dark-gray">Contract Vehicles</h5>
                <ul class="list-unstyled">
                    {% for vehicle in site.data.contract-vehicles %}
                    <li>
                        <a class="footer-link dark-gray" href="{{ vehicle.link }}">
                            {{ vehicle.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container clearfix text-center">
        <a class="social-share-icon" href="{{ site.linkedin_url }}" title="Follow Us on LinkedIn">
            <i class="fab fa-linkedin blue"></i>
        </a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 small gray">
      Copyright &copy; 2018 {{ site.title }} All Rights Reserved.   
    </div>
    <!-- Copyright -->
</footer>