      <!-- highlights -->

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-3">
            <span>
              <i class="fas fa-money-bill fa-5x highlight-icon"></i>
            </span>
            <h4>Grants Management</h4>
            <p>Lifecycle support from intake through Monitoring & Closeout</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <span>
              <i class="fas fa-university fa-5x highlight-icon"></i>
            </span>
            <h4>Federal Personal Property and Real Property Asset Management</h4>
            <p></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <span>
              <i class="fas fa-money-check-alt fa-5x highlight-icon"></i>
            </span>
            <h4>Improper Payments Reduction</h4>
            <p>Reduce Risk, Waste, Fraud & Abuse</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h4>Program Portfolio & Risk Management </h4>
            <p>Financial Analysis, Risk Assessment, Performance Indicators Measurement & Analysis, Predictive Modeling</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-lg-3">
            <span>
              <i class="fas fa-chart-line fa-5x highlight-icon"></i>
            </span>
            <h4>Data & Analytics</h4>
            <p></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div><!-- /.container -->