<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-bg">
    <a class="navbar-brand" href="/">
        <img src="assets/images/logo-wh-2.png" alt="Cloud Nine Technologies Inc.">
    </a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarCollapse" 
        aria-controls="navbarCollapse" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <i class="material-icons white">menu</i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contract Vehicles</a>
            </li>
        </ul>
    </div>
</nav>