/* All color rules are defined here */
/* These classes can be used with all elements */

/* 1. Solid colors */
.white {
    color: #FFFFFF;
}

.blue {
    color: #004e94;
}

/* 2. Background colors */
.red-bg {
    background-color: #ad2929;
}

.blue-bg {
    background-color: #004e94;
}

.white-bg {
    background-color: #F5F5F5;
}

.medium{
    font-weight: 500;
}

.gray {
    color: #D5D5D5;
}
.dark-gray {
    color: #505050;
}